@font-face {
  font-family: "Open Sauce One";
  src: url("/fonts/OpenSauceOne-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Open Sauce One";
  src: url("/fonts/OpenSauceOne-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Open Sauce One";
  src: url("/fonts/OpenSauceOne-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Offbit Dot";
  src: url("/fonts/OffBit-Dot.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Offbit Dot";
  src: url("/fonts/OffBit-DotBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Offbit";
  src: url("/fonts/OffBit-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

:root {
  --font-sans: "Open Sauce One", Arial, sans-serif;
  --font-display: "Offbit Dot", "Courier New", "Offbit", monospace;

  --background: oklch(98.455% 0.00264 106.448);
  --surface: oklch(100% 0 0);

  --primary: oklch(42.429% 0.22493 264.599);
  --accent: oklch(65.82% 0.22366 35.359);

  --border: oklch(90.67% 0 0);
  --text: oklch(19.573% 0 0);
  --text-muted: oklch(49.616% 0 0);

  --placeholder-color: var(--border);
  --frame: oklch(25.4% 0.0209 86.3deg / 20%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--text);
  background-color: var(--background);
  font-family: var(--font-sans);
}

hr {
  border: none;
  height: 1px;
  margin: 0 -7.8125vw;
  background-image: repeating-linear-gradient(
    to right,
    var(--frame) 0px,
    var(--frame) 20px,
    transparent 20px,
    transparent 32px
  );
}

.container {
  position: relative;
  height: fit-content;
  margin: 0 160px;
  background-image:
    repeating-linear-gradient(
      to bottom,
      var(--frame) 0px,
      var(--frame) 20px,
      transparent 20px,
      transparent 32px
    ),
    repeating-linear-gradient(
      to bottom,
      var(--frame) 0px,
      var(--frame) 20px,
      transparent 20px,
      transparent 32px
    );
  background-position:
    left top,
    right top;
  background-size:
    1px 100%,
    1px 100%;
  background-repeat: no-repeat;
}

.component {
  text-align: center;
  padding: 60px 0;
}

a {
  text-decoration: none;
  color: var(--text);
  font-family: var(--font-sans);
  font-weight: 400;
}

a:hover {
  color: var(--primary);
}


